In [1]:
import pandas as pd

news = pd.read_csv(r'News_final_dataset.csv')
news.head()

,headline,category,date,short_description_clean,main_category
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,2022-09-23,health expert said early predict whether deman...,News
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...,News
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,2022-09-23,dog understand could eaten,News
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...,News
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...,News

In [2]:
research = pd.read_csv(r'Research_paper_final_dataset.csv')
research.head()

,categories,update_date,title_clean,abstract_clean,main_category
0,hep-ph,2008-11-26,calculation prompt diphoton production cross s...,fully differential calculation perturbative qu...,Research Paper
1,math.CO cs.CG,2008-12-13,graph decomposition,describe new algorithm k game color use obtain...,Research Paper
2,physics.gen-ph,2008-01-13,evolution system based dark matter field fluid...,evolution system described dark matter field f...,Research Paper
3,math.CO,2007-05-23,determinant stirling cycle number count unlabe...,show determinant stirling cycle number count u...,Research Paper
4,math.CA math.FA,2013-10-15,dyadic,paper show compute norm using dyadic grid resu...,Research Paper

In [3]:
# change headline column name to Title
news.rename(columns={'headline': 'Title'}, inplace=True)
news.rename(columns={'short_description_clean': 'description'}, inplace=True)


#change title_clean column name to Title and make ir the first column
research.rename(columns={'title_clean': 'Title'}, inplace=True)
research.rename(columns={'categories': 'category'}, inplace=True)
research.rename(columns={'update_date': 'date'}, inplace=True)
research.rename(columns={'abstract_clean': 'description'}, inplace=True)

In [4]:
news.head()

,Title,category,date,description,main_category
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,2022-09-23,health expert said early predict whether deman...,News
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...,News
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,2022-09-23,dog understand could eaten,News
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...,News
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...,News

In [5]:
#ordering column news dataset
news_desired_order = ['Title', 'main_category', 'category', 'date','description']
news = news.reindex(columns=news_desired_order)
news.to_csv('news_ordered.csv', index=False)

In [6]:
news_new  = pd.read_csv(r'news_ordered.csv')
news_new.head()

,Title,main_category,category,date,description
0,Over 4 Million Americans Roll Up Sleeves For O...,News,U.S. NEWS,2022-09-23,health expert said early predict whether deman...
1,"American Airlines Flyer Charged, Banned For Li...",News,U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...
2,23 Of The Funniest Tweets About Cats And Dogs ...,News,COMEDY,2022-09-23,dog understand could eaten
3,The Funniest Tweets From Parents This Week (Se...,News,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...
4,Woman Who Called Cops On Black Bird-Watcher Lo...,News,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...

In [7]:
#ordering column research paper dataset
import pandas as pd
research_desired_order = ['Title', 'main_category', 'category', 'date','description']
# Reindex the DataFrame with the desired column order
research = research.reindex(columns=research_desired_order)
# Save the updated dataset
research.to_csv('research_ordered.csv', index=False)

In [8]:
research_new  = pd.read_csv(r'research_ordered.csv')
research_new.head()

,Title,main_category,category,date,description
0,calculation prompt diphoton production cross s...,Research Paper,hep-ph,2008-11-26,fully differential calculation perturbative qu...
1,graph decomposition,Research Paper,math.CO cs.CG,2008-12-13,describe new algorithm k game color use obtain...
2,evolution system based dark matter field fluid...,Research Paper,physics.gen-ph,2008-01-13,evolution system described dark matter field f...
3,determinant stirling cycle number count unlabe...,Research Paper,math.CO,2007-05-23,show determinant stirling cycle number count u...
4,dyadic,Research Paper,math.CA math.FA,2013-10-15,paper show compute norm using dyadic grid resu...

In [9]:
import pandas as pd

codes = pd.read_csv(r'Code_final_dataset.csv')
codes.head()

,Code,Language,description,Title,date,main_category
0,"class ComplexClass:\n def _init_(self, x):\...",Python,class ComplexClass n def _init_ self x n self ...,Python,2023-10-08,Code
1,def recursive_factorial(n):\n if n == 0:\n ...,Python,def recursive_factorial n n if n 0 n return 1 ...,Python,2023-10-08,Code
2,def mergeSort(arr):\n if len(arr) <= 1:\n ...,Python,def mergeSort arr n if len arr 1 n return arr ...,Python,2023-10-08,Code
3,"def recursive_power(base, exponent):\n if e...",Python,def recursive_power base exponent n if exponen...,Python,2023-10-08,Code
4,"class Student:\n def _init_(self, name, age...",Python,class Student n def _init_ self name age n sel...,Python,2023-10-08,Code

In [10]:
#ordering column codes dataset
codes_desired_order = ['Title', 'main_category', 'category', 'date','description']
# Reindex the DataFrame with the desired column order
codes = codes.reindex(columns=codes_desired_order)
# Save the updated dataset
codes.to_csv('codes_ordered.csv', index=False)

In [11]:
codes_new = pd.read_csv(r'codes_ordered.csv')
codes_new.head()

,Title,main_category,category,date,description
0,Python,Code,NaN,2023-10-08,class ComplexClass n def _init_ self x n self ...
1,Python,Code,NaN,2023-10-08,def recursive_factorial n n if n 0 n return 1 ...
2,Python,Code,NaN,2023-10-08,def mergeSort arr n if len arr 1 n return arr ...
3,Python,Code,NaN,2023-10-08,def recursive_power base exponent n if exponen...
4,Python,Code,NaN,2023-10-08,class Student n def _init_ self name age n sel...

In [12]:
len(codes_new)

33

In [13]:
medical = pd.read_csv(r'Medical_final_dataset.csv')
medical.head()

,description,main_category,Title,category,date
0,excision limbal dermoids reviewed clinical fil...,Medical,le,Medical,2023-10-08
1,bell palsy diagnosis exclusion case acute unil...,Medical,facial,Medical,2023-10-08
2,retained endobronchial foreign body removal fa...,Medical,body,Medical,2023-10-08
3,recurrent buccal space abscess complication cr...,Medical,crohn,Medical,2023-10-08
4,intracranial fibromatosis fibromatoses uncommo...,Medical,aggressive,Medical,2023-10-08

In [14]:
#ordering column codes dataset
medical_desired_order = ['Title', 'main_category', 'category', 'date','description']
# Reindex the DataFrame with the desired column order
medical = medical.reindex(columns=codes_desired_order)
# Save the updated dataset
medical.to_csv('medical_ordered.csv', index=False)

In [15]:
medical_new = pd.read_csv(r'medical_ordered.csv')
medical_new.head()

,Title,main_category,category,date,description
0,le,Medical,Medical,2023-10-08,excision limbal dermoids reviewed clinical fil...
1,facial,Medical,Medical,2023-10-08,bell palsy diagnosis exclusion case acute unil...
2,body,Medical,Medical,2023-10-08,retained endobronchial foreign body removal fa...
3,crohn,Medical,Medical,2023-10-08,recurrent buccal space abscess complication cr...
4,aggressive,Medical,Medical,2023-10-08,intracranial fibromatosis fibromatoses uncommo...

In [16]:
len(medical_new)

349

In [17]:
#combine the 2 datastets
combined = pd.concat([news_new, research_new,codes_new,medical_new], ignore_index=True)
combined.head()

,Title,main_category,category,date,description
0,Over 4 Million Americans Roll Up Sleeves For O...,News,U.S. NEWS,2022-09-23,health expert said early predict whether deman...
1,"American Airlines Flyer Charged, Banned For Li...",News,U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...
2,23 Of The Funniest Tweets About Cats And Dogs ...,News,COMEDY,2022-09-23,dog understand could eaten
3,The Funniest Tweets From Parents This Week (Se...,News,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...
4,Woman Who Called Cops On Black Bird-Watcher Lo...,News,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...

In [18]:
#number of columns and rows
combined.shape

(767, 5)

In [19]:
#unique values of main_category
combined.main_category.unique()

array(['News', 'Research Paper', 'Code', 'Medical'], dtype=object)

In [20]:
#save the combined dataset
combined.to_csv('combined_final_dataset.csv', index=False)