In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('legal_text_classification.csv')

In [41]:
df.head()

,case_id,case_outcome,case_title,case_text
0,Case1,cited,Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...,Ordinarily that discretion will be exercised s...
1,Case2,cited,Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...,The general principles governing the exercise ...
2,Case3,cited,Colgate Palmolive Co v Cussons Pty Ltd (1993) ...,Ordinarily that discretion will be exercised s...
3,Case4,cited,Dais Studio Pty Ltd v Bullett Creative Pty Ltd...,The general principles governing the exercise ...
4,Case5,cited,Dr Martens Australia Pty Ltd v Figgins Holding...,The preceding general principles inform the ex...

In [42]:
df.shape

(24985, 4)

In [43]:
df['case_outcome'].unique()

array(['cited', 'applied', 'followed', 'referred to', 'related',
       'considered', 'discussed', 'distinguished', 'affirmed', 'approved'],
      dtype=object)

In [44]:
df2 = pd.DataFrame()
for category in df['case_outcome'].unique():
    selected_df = df[df['case_outcome']==category].head(35)
    df2 = df2.append(selected_df)

C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_14536\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)

In [45]:
df2.head()

,case_id,case_outcome,case_title,case_text
0,Case1,cited,Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...,Ordinarily that discretion will be exercised s...
1,Case2,cited,Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...,The general principles governing the exercise ...
2,Case3,cited,Colgate Palmolive Co v Cussons Pty Ltd (1993) ...,Ordinarily that discretion will be exercised s...
3,Case4,cited,Dais Studio Pty Ltd v Bullett Creative Pty Ltd...,The general principles governing the exercise ...
4,Case5,cited,Dr Martens Australia Pty Ltd v Figgins Holding...,The preceding general principles inform the ex...

In [46]:
df2.shape

(350, 4)

In [47]:
df2.drop('case_id',inplace=True,axis=1)
df2.head()

,case_outcome,case_title,case_text
0,cited,Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...,Ordinarily that discretion will be exercised s...
1,cited,Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...,The general principles governing the exercise ...
2,cited,Colgate Palmolive Co v Cussons Pty Ltd (1993) ...,Ordinarily that discretion will be exercised s...
3,cited,Dais Studio Pty Ltd v Bullett Creative Pty Ltd...,The general principles governing the exercise ...
4,cited,Dr Martens Australia Pty Ltd v Figgins Holding...,The preceding general principles inform the ex...

In [48]:
columns_to_convert = ['case_outcome', 'case_title', 'case_text']
df2[columns_to_convert] = df2[columns_to_convert].astype(str)

In [49]:
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

stop_words = set(stopwords.words('english'))
punctuations = set(string.punctuation)

lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    text = text.lower()
    tokens = word_tokenize(text)
    tokens = [lemmatizer.lemmatize(token) for token in tokens if token not in stop_words and token not in punctuations and token.isalpha()]
    return ' '.join(tokens)  


df2['case_title'] = df2['case_title'].apply(preprocess_text)
df2['case_text'] = df2['case_text'].apply(preprocess_text)


df2.tail()

,case_outcome,case_title,case_text
11390,approved,phillips v australian girl choir pty ltd amp a...,considering whether interest justice grant ext...
11488,approved,gibbins v australasian meat industry employee ...,section originally introduced tpa trade practi...
11796,approved,australian security amp investment commission ...,note recently australian security amp investme...
12444,approved,school domestic art science v carr ill ne,large body law question united state see e buc...
12445,approved,decatur sport foundation v department revenue ...,large body law question united state see e buc...

In [55]:
df2['main_category'] = "Legal"
df2['date'] = '2023-11-23'
df2['date'] = pd.to_datetime(df2['date'])

In [56]:
df2.rename(columns={'case_outcome': 'category','case_title': 'Title','case_text' : 'description'}, inplace=True)

In [57]:
legal_desired_order = ['Title', 'main_category', 'category', 'date','description']
# Reindex the DataFrame with the desired column order
legal = df2.reindex(columns=legal_desired_order)

In [58]:
legal.head()

,Title,main_category,category,date,description
0,alpine hardwood aust pty ltd v hardy pty ltd f...,Legal,cited,2023-11-23,ordinarily discretion exercised cost follow ev...
1,black v lipovac fca alr,Legal,cited,2023-11-23,general principle governing exercise discretio...
2,colgate palmolive co v cussons pty ltd fcr,Legal,cited,2023-11-23,ordinarily discretion exercised cost follow ev...
3,dais studio pty ltd v bullett creative pty ltd...,Legal,cited,2023-11-23,general principle governing exercise discretio...
4,dr marten australia pty ltd v figgins holding ...,Legal,cited,2023-11-23,preceding general principle inform exercise di...

In [59]:
# Save the updated dataset
legal.to_csv('legal_final_dataset.csv', index=False)