In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv(r'D:\DELL\Documents\Final Year Project\legal classification\legal_text_classification.csv')

In [25]:
df.head()

,case_id,case_outcome,case_title,case_text
0,Case1,cited,Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...,Ordinarily that discretion will be exercised s...
1,Case2,cited,Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...,The general principles governing the exercise ...
2,Case3,cited,Colgate Palmolive Co v Cussons Pty Ltd (1993) ...,Ordinarily that discretion will be exercised s...
3,Case4,cited,Dais Studio Pty Ltd v Bullett Creative Pty Ltd...,The general principles governing the exercise ...
4,Case5,cited,Dr Martens Australia Pty Ltd v Figgins Holding...,The preceding general principles inform the ex...

In [26]:
df.shape

(24985, 4)

In [27]:
df['case_outcome'].unique()

array(['cited', 'applied', 'followed', 'referred to', 'related',
       'considered', 'discussed', 'distinguished', 'affirmed', 'approved'],
      dtype=object)

In [28]:
df2 = pd.DataFrame()
for category in df['case_outcome'].unique():
    selected_df = df[df['case_outcome']==category].head(35)
    df2 = df2.append(selected_df)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)
C:\Users\DELL\AppData\Local\Temp\ipykernel_7900\2201037217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(selected_df)

In [29]:
df2.head()

,case_id,case_outcome,case_title,case_text
0,Case1,cited,Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...,Ordinarily that discretion will be exercised s...
1,Case2,cited,Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...,The general principles governing the exercise ...
2,Case3,cited,Colgate Palmolive Co v Cussons Pty Ltd (1993) ...,Ordinarily that discretion will be exercised s...
3,Case4,cited,Dais Studio Pty Ltd v Bullett Creative Pty Ltd...,The general principles governing the exercise ...
4,Case5,cited,Dr Martens Australia Pty Ltd v Figgins Holding...,The preceding general principles inform the ex...

In [30]:
df2.shape

(350, 4)

In [31]:
df3 = pd.DataFrame()
df3['case_text'] = df2['case_text']
df3['column3_lengths'] = df2.iloc[:, 3].apply(lambda x: len(str(x)))

In [32]:
df3.head()

                                           case_text  column3_lengths
0  Ordinarily that discretion will be exercised s...              428
1  The general principles governing the exercise ...              974
2  Ordinarily that discretion will be exercised s...              428
3  The general principles governing the exercise ...              974
4  The preceding general principles inform the ex...              701

In [33]:
df3['column3_lengths'].unique()

array([  428,   974,   701,  1384,  3097,   426,  1978,  2375,   582,
         295,  1450,   944,  1426,   715,  8612,  1368,   508,   649,
        1057,  1761,  2298,  1165,   748,   767,   629,   741,   592,
        1373,  1823,  2027,   912,  1804,  8948,  1841,  1966,  1584,
        4045,   656, 14853,  2263,  5271,  1189,   376,   849,  4961,
        1035,  1957,  2382,  1191,  3013,  1009,  1455,  2509,   856,
        6123,  1078,     3,  1478,   353,   817,  1453,  3315,  1020,
         324,  1712,  8112,  1262,  2079,  1935,  1559, 19093,   972,
         302,  3456,  3656,  6492,  3279,   796,   858,  2870,  3271,
         627,   868,  2083,  1435,  1380,  4888,   198,   682,  1436,
         754,   364,   361,   572,  2160,  1595,  2247,  2933,   563,
        2454,  1539,   574,  2568,   806,   982,  4240,  1703,  1193,
        2756,  1363,  1008,  1391,  4103,  2054,  1064,  1188,   230,
         303,  2419,  8761,  2931,  2277,  9847,  5834,  2072,  1348,
        3532,  2661,  1284,  3674,  1083,  1503,  2340,  2297,  3834,
        5333,   676,  1330,   596, 10330,  2457,  5394,  2182,  2445,
        8898,   693,  1392,   673,  8214,  7803,   699,  1028,  3159,
         591,  1270,  1201,   289,   557,  1800,   838,  1657,   694,
        5203,  3689, 22882,  1869,  3419,  1524,  1147,  2339,   770,
        1810,   831,  4704,   714,  4087,  1295,  2956,  1406,   928,
        2640,  1689,  3920,  2407,   377,  2127,  1907, 21611,  2695,
         829,   795,  2511,  2241,  2366,  2041,   818,  1055,  3045,
         872,  2389,  6697,  2590,  3592, 13819,  1663,  5497,  4497,
        2144,  3330, 13616,  1272,  2888,   602,  2200,  4544,   342,
        4184,  9427,  1502,   877,  2355,  1730,  1013,  1475,  2142,
        1809,  1799,  1620,  1041,  1903,  1221,  1291,   827,  1136,
        2543,   792,  1364,  8560,  1073,  3363,  4133,  2370,  2402,
        2063,  3743, 10294,  3221,   920,   646,  1984,  5930,  1562,
        6304,  1788,  3559,  1181,  2119,   724,   720,  2129,   842,
        1751,  2939,  2145,   524,   874,  1891,  7424,  2681,  5211,
         785,   835,   950,  3507,  4896,  2926], dtype=int64)

In [34]:
df2.drop('case_id',inplace=True,axis=1)
df2.head()

,case_outcome,case_title,case_text
0,cited,Alpine Hardwood (Aust) Pty Ltd v Hardys Pty Lt...,Ordinarily that discretion will be exercised s...
1,cited,Black v Lipovac [1998] FCA 699 ; (1998) 217 AL...,The general principles governing the exercise ...
2,cited,Colgate Palmolive Co v Cussons Pty Ltd (1993) ...,Ordinarily that discretion will be exercised s...
3,cited,Dais Studio Pty Ltd v Bullett Creative Pty Ltd...,The general principles governing the exercise ...
4,cited,Dr Martens Australia Pty Ltd v Figgins Holding...,The preceding general principles inform the ex...

In [35]:
columns_to_convert = ['case_outcome', 'case_title', 'case_text']
df2[columns_to_convert] = df2[columns_to_convert].astype(str)

In [36]:
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

stop_words = set(stopwords.words('english'))
punctuations = set(string.punctuation)

lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    text = text.lower()
    tokens = word_tokenize(text)
    tokens = [lemmatizer.lemmatize(token) for token in tokens if token not in stop_words and token not in punctuations and token.isalpha()]
    return ' '.join(tokens)  


df2['case_title'] = df2['case_title'].apply(preprocess_text)
df2['case_text'] = df2['case_text'].apply(preprocess_text)


df2.tail()

,case_outcome,case_title,case_text
11390,approved,phillips v australian girl choir pty ltd amp a...,considering whether interest justice grant ext...
11488,approved,gibbins v australasian meat industry employee ...,section originally introduced tpa trade practi...
11796,approved,australian security amp investment commission ...,note recently australian security amp investme...
12444,approved,school domestic art science v carr ill ne,large body law question united state see e buc...
12445,approved,decatur sport foundation v department revenue ...,large body law question united state see e buc...

In [37]:
df2['main_category'] = "Legal"
df2['date'] = '2023-11-23'
df2['date'] = pd.to_datetime(df2['date'])

In [38]:
df2.rename(columns={'case_outcome': 'category','case_title': 'Title','case_text' : 'description'}, inplace=True)

In [39]:
legal_desired_order = ['Title', 'main_category', 'category', 'date','description']
# Reindex the DataFrame with the desired column order
legal = df2.reindex(columns=legal_desired_order)

In [40]:
legal.head()

,Title,main_category,category,date,description
0,alpine hardwood aust pty ltd v hardy pty ltd f...,Legal,cited,2023-11-23,ordinarily discretion exercised cost follow ev...
1,black v lipovac fca alr,Legal,cited,2023-11-23,general principle governing exercise discretio...
2,colgate palmolive co v cussons pty ltd fcr,Legal,cited,2023-11-23,ordinarily discretion exercised cost follow ev...
3,dais studio pty ltd v bullett creative pty ltd...,Legal,cited,2023-11-23,general principle governing exercise discretio...
4,dr marten australia pty ltd v figgins holding ...,Legal,cited,2023-11-23,preceding general principle inform exercise di...

In [41]:
# Save the updated dataset
legal.to_csv('legal_final_dataset.csv', index=False)